.icon-hover {
    display: none; /* Initially hidden */
    position: absolute;
    left: 74%;
    transform: translateX(-50%);
    top: 60px; /* Adjust as needed */
    background-color: #007bff;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
}

.icon-hover:before {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid blue;
}

.td-group:hover .icon-hover {
    display: block;
}

.td-group a img{
    cursor: pointer;
    margin-left: 4vmin;

}
.top-header{
    width: 90%;
    height: 6vmin;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
